.blue {
    background-color: rgb(131, 131, 248);
}
.oficial {
    background-color: rgb(110, 162, 110);
}
.bolsa {
    background-color: rgb(153, 94, 94);
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
    color: rgb(16, 2, 2);
}
label {
    font-size: 18px;
}
.container {
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 10px;

}
.activeCard {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.contActual {
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    max-height: 170px;
    text-align: center;
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 10px;
}
body {
    justify-items: center;
    align-items: center;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.hidden {
    display: none;
}
.btnConvert {
    margin: 10px;
    height: 50px;
    font-size: 1rem;
}